:root {
    --purple: #55227D
}

body {
    background-color: var(--purple);
    color: white;
    font-family: 'Milonga', cursive;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

a:link, a:visited {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav ul {
    font-size: 1.33rem;
    list-style: none;
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    padding: 0 1rem;
}

main {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

main h2 {
    font-size: 2rem;
    max-width: 40%;
    text-align: center;
}

footer {
    background-color: white;
    bottom: 0;
    color: var(--purple);
    margin: auto;
    position: absolute;
    text-align: center;
    width: 100%;
}

main img {
    width: 25%;
    border-radius: 5%;
}
